*.orig
*.pyc
.DS_Store
.as3_classpath
.idea/
.project
.sass-cache
.settings
.ftp_servers.txt
build-tools/build-tools-javascript/closure/bin/build
test/js/libs-concat-min.js
test/js/svtplayer.js
test/swf/svtplayer.swf
svtplayer.zip
node_modules
bower_components
src/js/generated-config.js
.sonar/
