<!--<footer>
  <div class="container">
    <p>->Available REST methods are:

    	<ul>
    	<li>/modules - list all svtlibs
    	<li>/modules/{name}   -name can be expressed in reg exp, e.g. ^svtlib will fetch all svtlibs... 
    	</ul>

     </p>

     <P>Repository data is keept in memory. Trigger an update with /refreshcache </P>
     <P>This is done by jenkins when source code is updated in the repos, so this is not normally needed to do manually.</P>

  </div>
</footer>
-->
</body>
</html>
